$primary_color: rgb(211, 173, 198);
$primary-hover-color: rgb(196, 93, 196);
$success_color: rgb(109, 220, 107);
$success-hover-color: rgb(72, 231, 109);
$title-color: rgb(25, 23, 23);

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}


.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(254, 223, 247);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    text-align: center;

    h1 {
        color: $primary-hover-color;

    }

    h4 {
        color: rgb(147, 146, 146)
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,
        td {
            padding: 10px;
            border: 1px solid rgb(94, 94, 94);

            th {
                background-color: #f0f0f0;
                color: $primary-hover-color ;

            }

        }

    }

    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_color;
        color: #feffff;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $primary-hover-color;


        }
    }

    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;

    }

    #btn_add {
        background-color: $success_color;
        color: #3b6b40;
        cursor: pointer;

        &:hover {
            background-color: $success-hover-color;
        }
    }
}